body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.selection-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure the inputs align across the container */
  max-width: 600px; /* Adjust width as necessary */
}

.input-left,
.input-right {
  width: 45%; /* Allocate space to each input */
}

.input-left label,
.input-right label {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  font-weight: bold;
}

input {
  padding: 5px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
